<h1>Create New Game</h1>  

<%= form_for @game do |game| %>  
    <%= game.label :title %>
    <%= game.text_field :title %> 
    <br>
    <%= game.fields_for :consoles do |console_fields| %>
        <%= console_fields.label "Select Console" %>
        <%= console_fields.select(:name, options_from_collection_for_select(@consoles, 'name', 'name'), { include_blank: ""}) %>
        <br>
    <% end %>
    <%= render partial: 'game_form', locals: {game_form: game} %>
<% end %>