<div class="span8">
    <header class="page-header">
        <div class="header_split">
            <div class="header_left">
                <%= image_tag @game.img_url %>
            </div>
            <div class="header_right">
                <h1 class="page-title"><%= @game.title %></h1>
                <h3 class="platform-title">                
                    <span class="header_more" style="cursor: pointer">
                        <% @game.consoles.each do |console| %> 
                            <%= console.name %>
                        <% end %>
                    </span>
                </h3>
            </div>
        </div>
    </header>
<div class="pod">
    <div class="pod_split pod_gamespace pod_gamespace_home_mygames">
        <div class="pod">
            <div class="head">
                <h2 class="title">Most Recent Reviews</h2>
            </div>
            <div class="body">
                <table class="qna_table qresults board">
                    <tbody>
                        <tr>
                            <% @game.reviews.each do |review| %>  
                                <% if !review.content.nil? %>
                                    <%= link_to review.content,  game_review_path(@game, review) %>
                                    <%= review.rating_score %>
                                <% end %>
                                <br>
                            <% end %>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="head">
                <h2 class="title">Write a new review for this game</h2>
            </div>
            <%= form_for @review do |review| %>
                <%= render partial: '/layouts/review_form', locals: {game_review: review} %>
                <%= review.hidden_field :game_id, value: @game.id %>
                <%= review.hidden_field :user_id, value: current_user.id %>
            <% end  %>
        </div>
    </div>
</div>
