<%= image_tag @game.img_url %>
<h1><%= @game.title %></h1>
<% @game.consoles.each do |console| %> 
    <h3><%= console.name %></h3>
<% end %>
<br>
<h4>Genres: <%= @game.genre %></h4>
<br>
<h4>Release Date: <%= @game.show_release_date %></h4>
<br>
<h2>Reviews</h2>
<% @game.reviews.each do |review| %>  
    <% if !review.content.nil? %>
        <%= link_to review.content,  game_review_path(@game, review) %>
        <br>
        <%= review.rating_score %>
        <br>
        <% if current_user.admin %> 
            <%= link_to "Edit Review", edit_game_review_path(review.game_id, review) %>
            &nbsp;&nbsp
            <%= link_to 'Delete Review', game_review_path(review.game_id, review), data: {:confirm => 'Are you sure?'}, :method => :delete %>
        <% end %>
    <% end %>
    <br>
<% end %>
<h2>Write a new review for this game</h2>
<%= form_for @review do |review| %>
    <%= render partial: '/reviews/review_form', locals: {game_review: review} %>
    <%= review.hidden_field :game_id, value: @game.id %>
    <%= review.hidden_field :user_id, value: current_user.id %>
<% end  %>
<br>
<% if current_user.admin %>
    <%= link_to "Edit Game", edit_game_path(@game) %> 
    &nbsp;&nbsp
    <%= link_to "Delete Game", game_path(@game), data: {:confirm => 'Are you sure?'}, :method => :delete %>
<% end %>