<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<div class="header_left">
    <%= image_tag @review.game.img_url %>
</div>
<div class="header_right">
    <h1 class="page-title"><%= @review.game.title %></h1>
</div>
<div class="pod">
    <div class="head">
        <h2 class="title">Review</h2>
    </div>
    <div class="body">
        <table class="qna_table qresults board">
            <tbody>
                <tr>
                    <%= @review.content %>
                    &nbsp;&nbsp
                    <%= @review.rating_score %>
                    &nbsp;&nbsp
                    <%= @review.user.username %>
                    &nbsp;&nbsp
                    <% if current_user.admin || current_user == @review.user %>
                        <%= link_to "Edit Review", edit_game_review_path(@review.game_id, @review) %>
                        &nbsp;&nbsp
                        <%= link_to 'Delete Review', game_review_path(@review.game_id, @review), data: {:confirm => 'Are you sure?'}, :method => :delete %>
                    <% end %>
                </tr>
            </tbody>
        </table>
    </div>
</div>
