<div class="masthead">
    <div class="masthead_strip">
        <div class="container row">
            <nav class="masthead_systems">
                <% if current_user.admin %>
                    <%= link_to "Create Game", new_game_path %> 
                <% end %>         
            </nav>
            <div class="masthead_user">
                <% if !user_signed_in? %>
                    <a <%= link_to "Sign In", signin_path %></a>
                    <a <%= link_to "Sign Up", signup_path %></a>
                    <a <%= link_to "Log in with Github", user_github_omniauth_authorize_path %></a>
                <% else %>
                    <a <%= link_to "Log Out", logout_path, method:"delete" %></a>
                <% end %>
            </div>
            
            </div>
        </div>
    </div>
    <div class="masthead_main container row">
        <div class="masthead_nav">
            <nav>
                <a class="navtrim" <%= link_to "Home", root_path %></a>
                <a class="navtrim" href="/games">Games</a>
                <a class="navtrim" href="/reviews">Reviews</a>
                <a class="navtrim" href="/users">Community</a>
            </nav>
        </div>
    </div>
</div>